<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4DA5F4">
    <meta name="csrf-token">
    <title>Contact - CTO.ai Demo App</title>
    <link rel="shortcut icon" href="../public/favicon.png">
    <link rel="stylesheet" href="../public/css/main.css">
  </head>
  
  <body class="text-white">
      <div class="container py-3">
        <p class="h1">Let's stay in touch!</p>
      </div>
      <div class="container bg-light pt-3 px-3">
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
          portalId: "6172062",
          formId: "1063ea24-ec69-43f7-88ba-e975983fce70"
        });
        </script>
      </div>

      <footer style="left: 0; height: 75px;">
        <div class="container text-center mb-1">
          <img src="../public/images/cto-logo-flat-white.svg" style="width:200px;">
        </div>
      </footer>

    </div>
    <script src="http://sandbox.hc.ai/one/js/lib/jquery.min.js"></script>
    <script src="http://sandbox.hc.ai/one/js/lib/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
  </body>
</html>
